/* fonts  */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
*:not(i) {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}


/* Custome Variables  */

:root {
    --skin-color: #fb839e;
    --bg-black-900: #000000;
    --bg-black-100: #dddddd;
    --bg-black-50: #eff0f4;
    --text-bg-black-900: #000000;
    --text-bg-black-600: #555555;
    --text-bg-black-700: #666666;
    --text-bg-black-300: #bbbbbb;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px -3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px -3px #f8f8f8;
}


/* global style  */

body {
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    background: var(--bg-black-50);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

::before ::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

.container {
    max-width: 1140px;
    /* background-color: red; */
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.inner-shadow {
    box-shadow: var(--inner-shadow);
}

#outer-shadow {
    -moz-box-shadow: 3px 3px 3px var(--bg-black-100);
    -webkit-box-shadow: 3px 3px 3px var(--bg-black-100);
    box-shadow: 3px 3px 3px var(--bg-black-100);
}

.hover-in-shadow {
    position: relative;
    z-index: 1;
}

.hover-in-shadow:hover {
    box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.hover-in-shadow:hover:after {
    -moz-box-shadow: inset 0 0 0 3px #d0d0d0;
    -webkit-box-shadow: inset 0 0 0 3px #d0d0d0;
    box-shadow: inset 0 0 0 3px #d0d0d0;
    border-radius: 50%;
}

.align-items-center {
    align-items: center;
}

.btn-1 {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    color: var(--skin-color);
    line-height: 1.5;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
    display: inline-block;
}

.btn-1::after {
    border-radius: 30px;
}

.effect-wrap .effect {
    position: absolute;
    z-index: -1;
}

.effect-1 {
    width: 30px;
    height: 30px;
    border: 4px solid #8a49ff;
    right: 10%;
    bottom: 10%;
    animation: spin 10s linear infinite;
}

.effect-2 {
    left: 3%;
    bottom: 20%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: topBounce 3s ease-in-out infinite;
}

.effect-2 div {
    height: 3px;
    width: 3px;
    background-color: #ff9c07;
    margin: 0 3px 8px;
}

.effect-3 {
    height: 180px;
    width: 180px;
    border: 25px solid var(--skin-color);
    border-radius: 50%;
    left: 50%;
    top: -120px;
    animation: leftBounce 3s ease-in-out infinite;
}

.effect-4 {
    border-top: 30px solid transparent;
    border-left: 30px solid #06d79c;
    left: 30%;
    top: 10%;
    animation: spin 15s linear infinite;
}

.effect-4::before {
    content: '';
    border-top: 30px solid transparent;
    border-left: 30px solid #06d79c;
    position: absolute;
    opacity: 0.5;
    top: -25px;
    left: -35px;
}

.effect-5 {
    height: 50px;
    width: 50px;
    right: 10%;
    top: 30%;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 12s linear infinite;
}

.effect-5 div {
    width: 1px;
    background-color: #4dd0e1;
    /* height: 100%; */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes topBounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(25px);
    }
}

@keyframes leftBounce {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(25px);
    }
}

.section-title {
    /* background-color: red; */
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2 {
    /* background-color: blue; */
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: var(--text-bg-black-900);
    text-transform: uppercase;
}

.section-title h2::before {
    content: attr(data-heading);
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--skin-color);
}


/* header style  */

.header {
    /* background-color: gray; */
    padding: 20px 15px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.header .logo a {
    display: inline-block;
    text-align: center;
    line-height: 36px;
    font-size: 24px;
    border: 2px solid #fb839e;
    height: 40px;
    width: 40px;
    color: #fb839e;
    border-radius: 50%;
    font-weight: 600;
    text-transform: uppercase;
}

.header .hamburger-btn {
    /* background-color: blue; */
    height: 40px;
    width: 40px;
    /* box-shadow: 0px 0px 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
    /* box-shadow: var(--outer-shadow); */
}

.header .hamburger-btn span {
    display: block;
    height: 2px;
    width: 16px;
    background: var(--text-bg-black-900);
    position: relative;
}

.header .hamburger-btn span::before,
.header .hamburger-btn span::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text-bg-black-900);
}

.header .hamburger-btn span::before {
    top: -6px;
}

.header .hamburger-btn span::after {
    top: 6px;
}


/* -----------
 navigation menu 
 ------------- */

.nav-menu {
    position: fixed;
    background: var(--bg-black-50);
    padding: 0 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
}

.nav-menu-inner {
    /* background-color: blue; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu ul {
    /* background-color: violet; */
    padding: 15px;
}

.nav-menu ul li {
    display: block;
    margin-bottom: 20px;
}

.nav-menu .close-nav-menu {
    height: 40px;
    width: 40px;
    display: block;
    font-size: 35px;
    line-height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    text-align: center;
    color: var(--text-bg-black-600);
    transition: all 0.3 ease;
}

.nav-menu .close-nav-menu:after {
    border-radius: 50%;
}

.nav-menu ul li:last-child {
    margin-bottom: 0;
}

.nav-menu ul li a {
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    color: var(--text-bg-black-700);
    padding: 5px 30px;
    text-transform: capitalize;
    border-radius: 30px;
    transition: all 0.3 ease;
}

.nav-menu ul li a:active {
    color: var(--skin-color);
}

.nav-menu ul li a::after {
    border-radius: 30px;
}

.nav-menu .copyright {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 15px;
    color: var(--text-bg-black-600);
    transform: translateY(-50%) rotate(-90deg);
    left: -6px;
}


/* ---------------
Home section------ */

.home-section {
    position: relative;
}

.home-section .full-screen {
    /* background-color: blue; */
    padding: 50px 0;
    min-height: 100vh;
}

.home-section .home-text,
.home-section .home-img {
    flex: 0 0 50%;
    padding: 0 15px;
}

.home-section .home-text p {
    color: var(--text-bg-black-300);
    font-size: 18px;
    text-transform: capitalize;
    margin: 0;
}

.home-section .home-text h2 {
    font-size: 55px;
    font-weight: 700;
    color: var(--text-bg-black-900);
    margin: 0;
}

.home-section .home-text h1 {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-bg-black-700);
    margin: 0;
    text-transform: capitalize;
}

.home-section .home-text .btn-1 {
    margin-top: 30px;
}

.home-section .home-img .img-box {
    /* background-color: red; */
    max-width: 450px;
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 15px;
}

.home-section .home-img .img-box img {
    width: 100%;
    border-radius: 50%;
    border: 10px solid transparent;
}


/* ---------------- 
About section  ---*/

.about-section {
    /* background-color: red; */
    padding: 80px 0 80px;
    min-height: 100vh;
}

.about-section .about-img {
    /* background-color: blue; */
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0 15px;
}

.about-section .about-img .about-img-box {
    padding: 15px;
    border-radius: 5px;
}

.about-section .about-img .about-img-box img {
    width: 100%;
    border: 10px solid transparent;
    border-radius: 5px;
}

.about-section .about-img .social-link {
    /* background-color: red; */
    margin-top: 20px;
    text-align: center;
}

.about-section .about-img .social-link a {
    display: inline-block;
    height: 40px;
    width: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    color: var(--text-bg-black-600);
    margin: 0 4px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.about-section .about-img .social-link a i {
    line-height: 40px;
}

.about-section .about-img .social-link a::after {
    border-radius: 50%;
}

.about-section .about-img .social-link a:hover {
    color: var(--skin-color);
}

.about-section .about-info {
    /* background-color: red; */
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;
}

.about-section .about-info p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
    color: var(--text-bg-black-600);
}

.about-section .about-info span {
    font-weight: 600;
}

.about-section .about-info .btn-1 {
    margin: 30px 20px 0 0;
}

.about-section .about-tabs {
    /* background-color: red; */
    padding: 60px 15px 50px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}

.about-section .about-tabs .tab-item {
    display: inline-block;
    margin: 0 5px 10px;
    /* border: 1px solid red; */
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
    color: var(--text-bg-black-600);
    font-weight: 500;
    text-transform: capitalize;
}

.about-section .about-tabs .tab-item:hover:not(.active) {
    opacity: 0.4;
}

.about-section .about-tabs .tab-item.active {
    color: var(--skin-color);
}

.about-section .tab-content {
    /* background-color: red; */
    flex: 0 0 100%;
    max-width: 100%;
}

.about-section .skills . skill-items {}